<!-- soriequeton -->
<div class="form-container">
    <h2>Agregar Post</h2>
    <form action="/agregar" method="POST">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required>
      <label for="content">Contenido:</label>
      <textarea id="content" name="content" required></textarea>
      <label for="imageUrl">URL de la Imagen:</label>
      <input type="text" id="imageUrl" name="imageUrl">
      <button type="submit">Agregar</button>
    </form>
  </div>