<!-- views/edit.ejs -->
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="form-container">
    <h2 class="form-title">Editar Post</h2>
    <form class="form" action="/editar/<%= post.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label class="form-label" for="title">Título:</label>
        <input class="form-input" type="text" id="title" name="title" value="<%= post.title %>" required>
        <label class="form-label" for="content">Contenido:</label>
        <textarea class="form-input" id="content" name="content" required><%= post.content %></textarea>
        <label class="form-label" for="imageUrl">URL de la Imagen:</label>
        <input class="form-input" type="text" id="imageUrl" name="imageUrl" value="<%= post.imageUrl %>">
        <button class="form-button" type="submit">Guardar Cambios</button>
    </form>
</div>
